@model LeVanTru0714.Models.LVTSinhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    <h4>LVTSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Sinh Viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LVTTenSinhVien)
        </dd>
        <dt class = "col-sm-2">
            Tuổi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LVTTuoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LVTMaSinhVien">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
